@font-face {
    src: url("fonts/RoslindaleVariable[opsz\,slnt\,wdth\,wght]-Edu.woff2") format("woff2"),
         url("fonts/RoslindaleVariable[opsz\,slnt\,wdth\,wght]-Edu.woff") format("woff");
        font-family: 'Roslindale';
        font-style: normal;
        font-weight: normal;
        }
    
    body{
    background-color:#BDDEDA;
    font-family: 'Roslindale', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
/* how the page wrapper will appear on mobile */



.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}

.topR{
    text-align: left;
    margin: 60px;
    font-size: 200px;
    color: #D77A61;
    -webkit-text-stroke:2px #000000;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 200, "opsz" 48;
}

.bottomR{
    text-align: right;
    margin: 30px;
    font-size: 200px;
    color:#E3C566;
    -webkit-text-stroke:2px #000000;
    font-variation-settings: "slnt" -8, "wdth" 100, "wght" 900, "opsz" 48;
}

.creatorText{
    
    text-align: right;
    font-size: 35px;
   
    margin:10px;
    color:#AC9857;
}


/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
.page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    ". h ."
    ". v ."
    "a a a";
}

#history {
grid-area: h;
text-align:center;
}

#variations{
grid-area: v;
text-align:center;
}

#alphabet {
grid-area: a;
text-align: center;
}
}




.shadow {
    background-color: #38776A;
   
    color: #65C6BC;
    position: absolute;
    left: 45%;
    
    
    bottom: -2200px;
    border-radius: 50px;
    padding: 15px 30px;
    /*font-weight: bold;*/
    /*text-transform: uppercase;*/
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.shadow:hover {
    background-color: #E3C566;
    color: #D77A61;
    font-weight: bold;
}



/*font styling area*/
/* variable font animation */
h2{
    font-size: 86px;
    /*color: #38776A;*/
    -webkit-text-stroke:1px #000000;
    font-variation-settings: "opsz" 48, "wght" 900, "wdth" 100,"slnt" 0;
}

.historyHead{
    color:#65C6BC;
    font-variation-settings: "opsz" 48, "wght" 400, "wdth" 100,"slnt" -6;
}

.variationHead{
    color:#E3C566;

}

.characterHead{
color:#D77A61;
font-variation-settings: "opsz" 0, "wght" 700, "wdth" 100,"slnt" 0;
}

h3{
    color:#E3C566;
    
    font-weight:20; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

h4{
    color:#D77A61;
    text-align: center;
    font-size: 24px;
    
    font-variation-settings: "opsz" 48, "wght" 900, "wdth" 100,"slnt" -4;
}

p{
    color: #4d968e;
}

.lettersBlue{
    color:#65C6BC;
    font-size: 35px;
    font-variation-settings: "opsz" 48, "wght" 600, "wdth" 100,"slnt" -4;
}

.lettersRed{
    color:#D77A61;
    font-size: 35px;
    font-variation-settings: "opsz" 48, "wght" 900, "wdth" 100,"slnt" -4;
}

.footerText{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.footerText span {
    margin-right: 10px;
}

footer{
    text-align: center;
    background-color: #38776A;
    color: #65C6BC;
    position: absolute;
    width: 100%;
    bottom: -2400px;
    text-align: center;
}

/*@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "opsz" 10, "wght" 200, "wdth" 75,"slnt" -8;
    }
    50%{font-variation-settings: "opsz" 48, "wght" 900, "wdth" 100,"slnt" 0;
    }
    
}*/

/* animation for variation examples*/

.slant{

color:#4d968e;

animation: slantVariations 5s infinite;}
    @keyframes slantVariations{

    
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0, "wdth" 75;
    }
    50%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" -8, "wdth" 75;
    }
}


.width{

    animation: widthVariations 5s infinite;}

    @keyframes widthVariations{

    
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0, "wdth" 75;
    }
    50%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0, "wdth" 100;
    }
}


.optical{

color:#4d968e;

animation: opticalVariations 5s infinite;}
    @keyframes opticalVariations{

    
    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0, "wdth" 75;
    }
    50%{
        font-variation-settings: "opsz" 48, "wght" 200, "slnt" 0, "wdth" 75;
    }
}


.weight{
 animation: weightVariations 5s infinite;}
    @keyframes weightVariations{

    0%, 100%{
        font-variation-settings: "opsz" 16, "wght" 200, "slnt" 0, "wdth" 75;
    }
    50%{
        font-variation-settings: "opsz" 16, "wght" 900, "slnt" 0, "wdth" 75;
    }
}


h5{
    font-size: 86px;
    color:#D77A61;
    margin: 15px;
}


/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}




